<!-- 
CS 340 
Anne Harris
Aaron Johnson
-->

<!-- Alien Games Homepage -->

<!DOCTYPE html>
<html>
<head>
	<title>Home - The Alien Games</title>
</head>
<body>
	
	<h1>Error 500 - Something Has Gone Wrong</h1>

</body>
</html>
