<!-- 
CS 340 
Anne Harris
Aaron Johnson
-->

<!-- Add Games Page -->

<!DOCTYPE html>
<html>
<head>
	<title>Add Alien Games | Alien Games</title>
</head>
<body>
	<!-- Link to hompage -->
	<a href="/index.html">HOME</a>
	<br>
	<a href="/edit_games">BACK</a>
	
	<!-- Header -->
	<h1 class="pageHeader">Add New Alien Games</h1>

	<form id="add_games" action="/add_games" method="post">

		<label>Year:
			<input type="text" name="games_year">
		</label>
		<br>

		<label>Season:
			<select name="season">
				<option value="1">Summer</option>
				<option value="0">Winter</option>
			</select>
		</label>
		<br>

		<label>Country:
			<input type="text" name="country">
		</label>
		<br>

		<label>City:
			<input type="text" name="city">
		</label>
		<br>

		<input type="submit" value="Submit">
	</form>
	
</body>
</html>