<!-- 
CS 340 
Anne Harris
Aaron Johnson
-->

<!-- Add Games Page -->

<!DOCTYPE html>
<html>
<head>
	<title>Add Alien Games | Alien Games</title>
<style>
	body {
		background-color: LightGrey;
		}
		.button {
    background-color: #4CAF50; 
    border: none;
    color: white;
	padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12x;
    margin: 4px 2px;
	cursor: pointer;
}
</style>
</head>
<body>
	<!-- Link to hompage -->
	<a href="/index.html">HOME</a>
	<br>
	<a href="/edit_games">BACK</a>
	
	<!-- Header -->
	<h1 class="pageHeader">Add New Alien Games</h1>

	<form id="add_games" action="/add_games" method="post">

		<label>Year:
			<input type="text" name="games_year">
		</label>
		<br>

		<label>Season:
			<select name="season">
				<option value="1">Summer</option>
				<option value="0">Winter</option>
			</select>
		</label>
		<br>

		<label>Country:
			<input type="text" name="country">
		</label>
		<br>

		<label>City:
			<input type="text" name="city">
		</label>
		<br>

		<input type="submit" value="Submit" class="button">
	</form>
</body>
</html>