<!-- 
CS 340 
Anne Harris
Aaron Johnson
-->

<!-- Add Team Page -->

<!DOCTYPE html>
<html>
<head>
	<title>Add Team | Alien Games</title>
<style>
	body {
		background-color: LightGrey;
		}
		.button {
    background-color: #4CAF50; 
    border: none;
    color: white;
	padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12x;
    margin: 4px 2px;
	cursor: pointer;
}
</style>
</head>
<body>
	<!-- Link to hompage -->
	<a href="/index.html">HOME</a>
	<br>
	<a href="/edit_games">BACK</a>
	
	<!-- Header -->
	<h1 class="pageHeader">Add Team</h1>

	<form id="add_team" action="/add_team" method="post">

		<!-- No need to add number of athletes or number of gold winning athletes as
			those are derived attributes -->

			Team Name: <input type="text" name="name" required><br>
			Alien Games: <select name="gamesID">
				{{#each alien_games}}
				<option value="{{ID}}">{{Year}} {{Season}}</option>
				{{/each}}
			</select>
		<br>
		<input type="submit" value="Submit" class="button">
	</form>

</body>
</html>