<!-- 
CS 340 
Anne Harris
Aaron Johnson
-->

<!-- Add Team Page -->

<!DOCTYPE html>
<html>
<head>
	<title>Add Team | Alien Games</title>
</head>
<body>
	
	<!-- Header -->
	<h1 class="pageHeader">Add Team</h1>

	<form id="add_team" action="/teams" method="post">

		<!-- No need to add number of athletes or number of gold winning athletes as
			those are derived attributes -->

		<label>Team Name:
			<input type="text" name="teams.name">
		</label>
		<br>

		<label>Alien Games:
			<select name="alien_games_is>
				<option value="{{alien_games.id}}">{{games_year}}{{season}}</option>
			</select>
		</label>
		<br>

		<input type="submit" value="Submit">
	</form>

</body>
</html>